*{
  /* تنسيقات عامه */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  list-style: none;
}

body{
  height: 100vh;
  background-color: azure;
  text-align: center;
}

main{
  display: grid;
  gap: 20px;
  grid-template-areas: 
  "head head head" 
  ". body ."
  "footer footer footer";
}
main div{
  background-color: rgb(141, 214, 238);
  /* تنسيقات عامه */
  padding: 20px;
  font-size: 25px;
  text-transform: uppercase;
}
.head{grid-area: head;}
.body{grid-area: body;}
.footer{grid-area: footer;}